<div class="container">
  <div *ngIf="errorMessages.length > 0" class="error-messages">
    <p *ngFor="let errorMessage of errorMessages" class="error-card">{{ errorMessage }}</p>
  </div>

  <cdk-virtual-scroll-viewport itemSize="50" class="scroll-container">
    <table mat-table [dataSource]="items.controls">
      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef [matTooltip]="col.tooltip">{{ col.label }}</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="col.type === 'button'">
            <button mat-button (click)="log()">詳細</button>
          </ng-container>

          <ng-container *ngIf="col.type === 'checkbox'">
            <mat-checkbox [formControl]="row.get(col.key)"></mat-checkbox>
          </ng-container>

          <ng-container *ngIf="col.type === 'input'">
            <mat-form-field appearance="outline">
              <input matInput [type]="col.input_type || 'text'" [formControl]="row.get(col.key)" />
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="col.type === 'label'">
            {{ row.get(col.key).value }}
          </ng-container>
        </td>
      </ng-container>

      <tr *matNoDataRow class="mat-mdc-row mdc-data-table__row">
        <td class="mat-mdc-cell mdc-data-table__cell" [attr.colspan]="columns.length">データがありません。</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
