<div class="container">
  <h2>仮想スクロール付きテーブル</h2>
  
  <button mat-button color="accent" (click)="updateData()">更新</button>

  <cdk-virtual-scroll-viewport itemSize="50" class="scroll-container">
    <table mat-table [dataSource]="items.controls">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row; let i = index">
          {{ row.get('id').value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field appearance="outline">
            <input matInput [formControl]="row.get('email')" />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="cardNumber">
        <th mat-header-cell *matHeaderCellDef>カード番号</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field appearance="outline">
            <input matInput [formControl]="row.get('cardNumber')" />
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </cdk-virtual-scroll-viewport>
</div>